<div class="jumbotron">

    <br>
    <h1 style="color: black;"><small>Lista de personajes</small></h1> 
    <hr style="color: black;margin-left: 0px;" >

   <mat-grid-list [cols]="4" gutterSize="6px" rowHeight="2:2"  >
      <mat-grid-tile *ngFor="let item of lstPersonajes">
        <div class="card" style="width: 220px;">
            <img class="card-img-top" src="{{item.imagen}}"  alt="Card image cap" style="width: 220px; height: 120px;">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <hr style="color: black;margin-left: 0px;" >
              <button href="#" class="btn btn-primary" style="width: 100%;" (click)="getDetalle(item,dialogTemplate)">Detalles</button>
            </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>   
  </div>


  <ng-template  #dialogTemplate >
    <div class="card" >
        <div class="card-header bg-transparent border-success">{{personajeDetalle.name}}</div>
        <div class="card-body">
          <img class="card-img-top" src="{{personajeDetalle.imagen}}"  alt="Card image cap" style="width: 220px; height: 120px;">
          <hr style="color: black;margin-left: 0px;" >
          <p class="card-text">{{personajeDetalle.description}}</p>
        </div>
    </div>
    <mat-dialog-actions align="end">
        <div class="modal-footer">
            <button  class="btn btn-secondary" (click)="closeModalService()"  mat-button >Close</button>
        </div>
    </mat-dialog-actions>
  </ng-template>
  